/* Reset margin, padding, and box sizing of everything */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 300 11px / 1.5 "NotoSansRegular", sans-serif;
  background: #fff;
  color: #121212;
}

body {
  font-size: 1.6rem;
}

header, main, footer {
  padding: 2rem;
}

header {
  background: hsla(264, 34%, 36%, .2);
  display: flex;
  align-content: center;

  h1 {
    flex: 1 0 auto;
    margin: 0;
  }
  a {
    flex: 0 0 12rem;
    white-space: nowrap;
  }
}

main {
  margin: 2rem auto;
}

main > * + * {
  margin: 3rem 0;
}

footer {
  font-size: 1.3rem;
  text-align: right;
}

a {
  color: hsl(264, 34%, 36%);
}

a:visited {
  color: hsl(199.5, 18.3%, 36.1%); 
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 2rem 0;
  font-family: 'NotoSerifBold', serif;

  i {
    font-family: 'NotoSerifBoldItalic', serif;
  }

  b, strong {
    font-family: inherit;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.56rem;
}

h4 {
  font-size: 2.24rem;
}

h5 {
  font-size: 1.92rem;
}

h6 {
  font-size: 1.76rem;
}

/*
Did you know? You can use unicode with the list-style and list-style-type
properties, although not every browser supports this.
See: https://developer.mozilla.org/en-US/docs/Web/CSS/list-style
*/

ul {
  list-style: square;
  list-style: '\2726';
  padding-left: 2rem;
}

li {
  margin: 1rem 0;
  padding-left: 1rem;
}

i, em {
  font-family: 'NotoSansItalic', sans-serif;
}
b, strong {
  font-family: 'NotoSansBold', sans-serif;
}

code {
  background: hsl(264, 0%, 95%);
  padding: .1ch;
}

.demo__controls {
  background: hsl(264, 0%, 95%);
  padding: 2rem;
  border-radius: .33rem;

  label {
    font-family: monospace;
    white-space: pre;
  }
}

button {
  background: hsl(265, 30%, 50%);
  border: 0px;
  border-radius: .3rem;
  color: #fff;
  font: inherit;
  padding: .5rem 2rem;
}

.two__panels {
  display: flex;
  
  > *:first-child {
    margin-right: 3rem;
  }
}

.swatch__tiny {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.demo__wrapper p {
  margin: 3rem 0;
}

[id=change-box-sizing] > div {
  display: flex;
}

.note {
  font-size: 1.2rem;
  line-height: 1.2;
}

.mono {
  font-family: monospace;
}

input,
select {
  font: inherit;
}

.flex {
  display: flex;
  align-items: center;
}