.title {
  font-style: italic;
  border-bottom: .1em dotted #ff5722;
}

#demo {
  font-size: 2em;
  background: #F6F6F6;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1em;
}
#demo p {
  margin: 0;
}

